mitumbavenv/
__pycache__/
*.pyc
db.sqlite3
.env
.venv/


mitumbaesales/authentication/*
mitumbaesales/notification/*
mitumbaesales/offer/*
mitumbaesales/order/*
mitumbaesales/payments/*
mitumbaesales/product/*
mitumbaesales/reviews/*
mitumbaesales/cart/*


*.log

ngrok-stable-linux-amd64.zip
ngrok
staticfiles


env/
venv/
__pycache__/
*.pyc
db.sqlite3
.env
media/
vector_db/

